<%= form_with(model: post, class: "mt-2 flex flex-col gap-2") do |form| %>
  <div>
    <%= form.label :title, class: "block" %>
    <%= form.text_field :title, class: "form-text-field" %>
  </div>

  <div>
    <p>タグ</p>

    <%#= render template: 'posts/tags/index' %>

    <%= turbo_frame_tag "tags", class: "flex flex-wrap gap-2" do %>
      <% @tags.each do |tag| %>
        <%= render 'posts/tags/form_tag', tag: tag %>
      <% end %>
    <% end %>

    <%= turbo_frame_tag "new_tag" do %>
      <%= link_to "追加", new_tag_path %>
    <% end %>
  </div>


  <div>
    <%= form.label :url, class: "block" %>
    <%= form.text_field :url, class: "form-text-field" %>
  </div>

  <div>
    <%= form.label :description, class: "block" %>
    <%= form.text_area :description, class: "form-text-field", rows: 10 %>
  </div>

  <div>
    <%= form.select :published, [["非公開", false], ["公開", true]], { selected: post.published } %>
  </div>

  <div class="mt-2 text-center">
    <% if post.new_record? %>
      <%= form.submit "保存", class: "btn btn-block" %>
    <% else %>
      <%= form.submit "更新", class: "btn btn-block" %>
    <% end %>
  </div>
<% end %>
