<%= form_with(model: post, class: "mt-2") do |form| %>
  <% if post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, class: "block" %>
    <%= form.text_field :title, class: "form-text-field" %>
  </div>

  <!--
  <div>
    <p>タグ</p>
    <div class="flex gap-2">
      <% post.tags.each do |tag| %>
        <%= render tag %>
      <% end %>
    </div>

    <div class="inline-block">
      <ul class="px-2 min-w-[10rem] bg-white border border-black">
        <%#= form.collection_check_boxes(:tag_ids, @tags, :id, :name, include_hidden: false) do |tag| %>
          <li>
            <%= tag.check_box %>
            <%= tag.label %>
          </li>
        <%# end %>
      </ul>
    </div>

    <%#= form.fields_for :tags do |tag| %>
      <%#= tag.label :name %>
      <%#= tag.text_field :name %>
    <%# end %>
  </div> -->

  <div>
    <%= form.label :url, class: "block" %>
    <%= form.text_field :url, class: "form-text-field" %>
  </div>

  <div>
    <%= form.label :description, class: "block" %>
    <%= form.text_area :description, class: "form-text-field" %>
  </div>

  <div>
    <%= form.select :published, [["非公開", false], ["公開", true]], { selected: post.published } %>
  </div>

  <div class="mt-2 text-center">
    <% if post.new_record? %>
      <%= form.submit "保存", class: "btn-submit w-full font-bold" %>
    <% else %>
      <%= form.submit "更新", class: "btn-submit w-full font-bold" %>
    <% end %>
  </div>
<% end %>
