<h3 class="mt-4 text-2xl font-bold">投稿</h3>

<div class="mt-3 rounded-lg bg-white border border-gray-400 shadow-lg">
  <div class="border-b border-gray-300 p-2">
    <p class="font-bold">検索条件</p>
  </div>

  <div class="px-3">
    <%= search_form_for @search do |f| %>
      <div class="flex my-3">
        <div class="grow flex items-center gap-2">
          <%= f.label :title_cont, "タイトル", class: "flex-none" %>
          <%= f.search_field :title_cont, class: "grow px-2 self-stretch rounded border border-gray-300 shadow shadow-inner" %>
        </div>

        <div class="flex-none flex gap-2 items-center ml-2">
          <%= button_tag "検索", class: "px-3 py-1 rounded bg-blue-500 hover:bg-blue-600 active:bg-blue-700 text-white" %>
          <%= link_to "リセット", posts_path, class: "p-1 rounded ring ring-gray-300 hover:bg-gray-100 active:bg-gray-200" %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="mt-6 px-4">
  <div class="grid grid-cols-2 mt-4">
    <div class="mt-auto flex gap-3">
      <p class="font-bold">並び順</p>
      <%= sort_link @search, :title, class: "underline" %>
      <%= sort_link @search, :created_at, class: "underline" %>
      <%= sort_link @search, :updated_at, class: "underline" %>
    </div>

    <div class="flex justify-end">
      <%= link_to "New post", new_post_path, class: "px-3 py-1 rounded bg-blue-500 hover:bg-blue-600 active:bg-blue-700 text-white" %>
    </div>
  </div>

  <div id="posts" class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4 mt-4">
    <% @posts.each do |post| %>
      <div class="border border-gray-400 shadow-lg">
        <div>
          <p><%= post.title %></p>
        </div>

        <div class="h-40 items-center">
          <% if post.ogp_url.present? %>
            <%= image_tag post.ogp_url, class: "max-h-40 mx-auto" %>
          <% end %>
        </div>
        <p>
          <%= link_to "Show this post", post %>
        </p>
      </div>
    <% end %>
  </div>

  <div class="mt-4 flex justify-center">
    <%= paginate @posts %>
  </div>
</div>
