<h3 class="mt-4 text-2xl font-bold">投稿一覧</h3>

<%= render "search" %>

<div class="mt-6">
  <%= turbo_frame_tag 'posts-list' do %>
    <div class="flex mt-4">
      <div class="grow flex gap-2 items-center">
        <p class="font-bold">並び順</p>
        <%= sort_link @search, :title, class: "underline" %>
        <%= sort_link @search, :created_at, class: "underline" %>
        <%= sort_link @search, :updated_at, class: "underline" %>
      </div>

      <div class="flex-none">
        <%= link_to "新規投稿", new_post_path, data: { turbo: false }, class: "btn-blue-sm" %>
      </div>
    </div>

    <div id="posts" class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4 mt-4">
      <% @posts.each do |post| %>
        <%= render post %>
      <% end %>
    </div>

    <div class="mt-4 flex justify-center">
      <%= paginate @posts %>
    </div>
  <% end %>
</div>
